/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Just Me Again Down Here', cursive;
}

/* Body styling */
body {
    background-image: linear-gradient(to bottom, 
        transparent 105px, 
        #ffffff 105px, 
        #ffffff 102px, 
        #989898 102px, 
        #989898 112px);
    background-size: 100% 112px;
    position: relative;
}

/* Add a line to the left side of the page */
body::before {
    content: '';
    position: fixed;
    left: 140px;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: #ff0000; 
    z-index: 9999; 
}

/* Footer styling */
footer {
    font-size: 31px;
    width: 20%;
    padding: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 100% 100% 0 0;
}

/* Header styling */
header {
    height: 155px;
    background-color: #BA4848;
    padding: 30px 0;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 9px solid #8E1717;
    position: relative;
    z-index: 10000;
}

/* Header h1 styling */
header h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 85px;
    font-weight: normal;
}

/* Header button styling */
header button {
    font-family: 'PT Sans Narrow', sans-serif;
    width: 290px;
    height: 80px;
    border-radius: 9px;
    font-size: 37px;
    font-weight: normal;
    text-transform: none;
    color: white;
    background-color: #920000;
    position: absolute;
    right: 40px;
}

/* Form styling */
form {
    position: sticky;
    top: 2%;
    background-color: #FFF858;
    padding: 24px 0;
    display: none;
    width: 100%;
    max-width: 1090px;
    margin: 20px auto;
    box-sizing: border-box;
    height: 320px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.185), 
        2.5px 2.5px 0px 0px #EBE451, 
        3.5px 3.5px 2px 0px rgba(0, 0, 0, 0.185), 
        5px 5px 0px 0px #D6D04A, 
        6px 6px 2px 0px rgba(0, 0, 0, 0.185), 
        7.5px 7.5px 0px 0px #ABAA42, 
        8.5px 8.5px 2px 0px rgba(0, 0, 0, 0.185), 
        10px 10px 0px 0px #7F7C3A, 
        11px 11px 7px 0px rgba(0, 0, 0, 0.27);
    z-index: 9999;
}

/* Form h2 styling */
form h2 {
    background-color: rgba(234, 255, 224, 0.529);
    display: inline-block;
    line-height: 82px;
    width: 870px;
    height: 85px;
    font-size: 65px;
    font-weight: lighter;
    text-align: center;
    margin-left: 110px;
}

/* Input styling */
input {
    font-size: 48px;
    background: transparent;
    border: none;
    border-bottom: 2.5px solid #7A7A7A;
    margin: 80px 305px 0 30px;
    width: 450px;
    height: 50px;
}

/* Input focus styling */
input:focus {
    outline: none;
}

/* Input placeholder styling */
input::placeholder {
    color: #7a7a7aa2;
    font-size: 50px;
}

/* Common styling for input and button */
input, button {
    padding: 8px;
}

/* Button styling */
button {
    background-color: #BBB62E;
    width: 270px;
    height: 90px;
    line-height: 6px;
    border: none;
    cursor: pointer;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

/* Cancel button styling */
#cancel {
    float: right;
    margin-top: -15px;
    margin-right: 10px;
    background-color: #FFFCBD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

/* Cancel button image styling */
#cancel img {
    width: 43px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* List styling */
ul {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
}

/* List item styling */
ul li {
    margin-left: 90px;
    margin-top: 30px;
    font-size: 55px;
    display: flex;
    position: relative;
}

/* Completed list item styling */
.completed {
    text-decoration: underline;
    text-decoration-color: #FF0000;
    text-underline-offset: 0.2em;
}

/* Checkbox styling */
.checkbox {
    width: 40px;
    height: 40px;
    margin: 23px 30px 0 110px;
}

/* When the checkbox is checked, the text is struck through */
.checkbox:checked ~ span {
    text-decoration: line-through;
    text-decoration-color: rgba(27, 142, 27, 0.921); 
    text-decoration-thickness: 4px;
}

/* Activity (atv) styling */
.atv {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    opacity: 0;
    transition: all ease .3s;
}

/* Activity (atv) link styling */
.atv a {
    color: white;
    text-decoration: none;
}